<div class="content">
  <div class="content__left">
    <h2 class="content__left__text">This is about page</h2>
  </div>
</div>
<footer>
  <div class="footer__content">
    <div class="footer__content__desc">
      <a href="#" class="footer__content__desc_link">Регистрация</a>
      <a href="#" class="footer__content__desc_link">Вход</a>
      <a href="#" class="footer__content__desc_link">Messenger</a>
      <a href="#" class="footer__content__desc_link">Услуги</a>
      <a href="#" class="footer__content__desc_link"
        >Центр информации о выборах</a
      >
      <a href="#" class="footer__content__desc_link"
        >Политика конфиденциальности</a
      >
      <a href="#" class="footer__content__desc_link"
        >Центр конфиденциальности</a
      >
      <a href="#" class="footer__content__desc_link">Группы</a>
      <a href="#" class="footer__content__desc_link">Информация</a>
      <a href="#" class="footer__content__desc_link">Создать рекламу</a>
      <a href="#" class="footer__content__desc_link">Создать страницу</a>
      <a href="#" class="footer__content__desc_link">Разработчикам</a>
      <a href="#" class="footer__content__desc_link">Вакансии</a>
      <a href="#" class="footer__content__desc_link">Файлы cookie</a>
      <a href="#" class="footer__content__desc_link">Рекламные предпочтения</a>
      <a href="#" class="footer__content__desc_link">Условия пользования</a>
    </div>
    <div class="footer__content__copyright">© 2023 Twitter Corp</div>
  </div>
</footer>
